#headWrap {
	text-align: center;
}

.msgdiv {
	width: 20em;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
}

#eTable {
	margin: 0 auto;
	width: 80%;
}

.date {
	width: 10%;
}

.sender {
	width: 10%;
}

.subject {
	width: 10%
}

.msg {
	width: 70%;
}

#eTable > table {
	width: 100%;
}
